.service
{
	display: flex;
    color: blue;
	float: right;
}


.form-label
{
    text-align: right;
    color: blue;
}

.form-control
{
	float: right;
}

.search-bar
{
	float: center;

}

.tom-form{
	display: flex;
	flex-direction: column;
}