
.navBox {
	height: inherit;
	margin-left: 30%;

	
	display: flex;
	width: fill-available;
	/*flex-direction: column;
	align-items: center;
	justify-content: center; */
	
	position: absolute;
	
	/* border: 1px solid black; */
}


.navMenu {
 	height: 80%;
	margin: 2mm;

	position: relative;
	/* à 50%/50% du parent référent (child doit etre relatif, le parent est absolute) */
	top: 50%; left: 40%;
	transform: translate(-70%, -50%);

	/* background-color: gray; */

	/* border: 1px solid black; */
}

ul#horizontal-list {
	max-width: fill-available;

	position: relative;
	/* à 50%/50% du parent référent (child doit etre relatif, le parent est absolute) */
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	/* border: 1px solid black; */
}

ul#horizontal-list li {
	display: inline-flex;
	width: 200px;

	background-color: lightgreen;
	border: solid darkgreen;
	border-radius: 10px;

	margin-left: 1em;
	margin-right: 1em;
}

/*ul#horizontal-list li a {*/
.navLink {
	color: black;
	text-decoration: none;
	font-size: 150%;
}


ul#horizontal-list li :hover{
	display: inline;
	width: 200px;

	color: black;
	background-color: bisque;
	border: solid darkgreen;
	border-radius: 10px;
}
